/* Breakpoint mixins */
/* line 1, ../scss/layout/layout.scss */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 9, ../scss/layout/layout.scss */
html, body {
  width: 100%;
  margin: 0; }

/* line 14, ../scss/layout/layout.scss */
body {
  position: relative;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #191919;
  background-color: whitesmoke;
  min-height: 100vh;
  cursor: none;
  isolation: isolate; }

/* line 26, ../scss/layout/layout.scss */
a, button, input, select {
  outline: none;
  border: none;
  cursor: none; }

/* line 32, ../scss/layout/layout.scss */
a {
  text-decoration: none;
  color: #191919; }
  /* line 36, ../scss/layout/layout.scss */
  a:hover {
    color: #FF0000; }

/* line 41, ../scss/layout/layout.scss */
ul, li {
  list-style-type: none; }

/* line 45, ../scss/layout/layout.scss */
details, summary {
  outline: none;
  border: none; }

/* line 50, ../scss/layout/layout.scss */
::-webkit-scrollbar {
  width: 0;
  height: 0; }

/* line 55, ../scss/layout/layout.scss */
::-moz-selection {
  background-color: #FF0000;
  color: #fff; }

/* line 60, ../scss/layout/layout.scss */
::-moz-selection {
  background-color: #FF0000;
  color: #fff; }
::selection {
  background-color: #FF0000;
  color: #fff; }

/*========================
        Common Styles
==========================*/
/* line 69, ../scss/layout/layout.scss */
.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px; }
  @media (max-width: 768px) {
    /* line 69, ../scss/layout/layout.scss */
    .main {
      padding-left: 23px;
      padding-right: 23px; } }

/* line 82, ../scss/layout/layout.scss */
.no-scroll {
  position: fixed;
  overflow: hidden; }

/* line 87, ../scss/layout/layout.scss */
.cursor, .aura {
  position: fixed;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 99; }
  @media (max-width: 1024px) {
    /* line 87, ../scss/layout/layout.scss */
    .cursor, .aura {
      opacity: 1;
      visibility: hidden; } }

/* line 105, ../scss/layout/layout.scss */
.cursor {
  width: 8px;
  height: 8px;
  background-color: #222222;
  -webkit-transition: .2s linear background-color;
  transition: .2s linear background-color; }

/* line 113, ../scss/layout/layout.scss */
.cursor.is-active {
  background-color: #FF0000; }

/* line 117, ../scss/layout/layout.scss */
.cursor.cursor-red {
  background-color: #FF0000; }

/* line 121, ../scss/layout/layout.scss */
.aura {
  width: 32px;
  height: 32px;
  background-color: #222222;
  opacity: 0.5;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  mix-blend-mode: difference;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }

/* line 132, ../scss/layout/layout.scss */
.title {
  font-size: 175px;
  line-height: 175px;
  font-weight: 300; }
  @media (max-width: 1024px) {
    /* line 132, ../scss/layout/layout.scss */
    .title {
      font-size: 97px;
      line-height: 97px; } }
  @media (max-width: 768px) {
    /* line 132, ../scss/layout/layout.scss */
    .title {
      font-size: 71px;
      line-height: 78px; } }
  @media (max-width: 390px) {
    /* line 132, ../scss/layout/layout.scss */
    .title {
      font-size: 62px;
      line-height: 74px; } }

/* line 153, ../scss/layout/layout.scss */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px; }
  /* line 157, ../scss/layout/layout.scss */
  .socials__link {
    color: whitesmoke;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content; }
    @media (max-width: 768px) {
      /* line 157, ../scss/layout/layout.scss */
      .socials__link {
        font-size: 11px; } }
    @media (max-width: 390px) {
      /* line 157, ../scss/layout/layout.scss */
      .socials__link {
        font-size: 10px; } }
    /* line 172, ../scss/layout/layout.scss */
    .socials__link:after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: whitesmoke;
      width: 100%; }
      @media (max-width: 768px) {
        /* line 172, ../scss/layout/layout.scss */
        .socials__link:after {
          height: 1px; } }
  /* line 187, ../scss/layout/layout.scss */
  .socials .socials__item:hover .socials__link:after {
    opacity: 0; }

/* line 1, ../scss/layout/header/header.scss */
.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: fixed;
  z-index: 11; }
  @media (max-width: 1024px) {
    /* line 1, ../scss/layout/header/header.scss */
    .header {
      position: absolute;
      top: 0;
      left: 0; } }
  @media (max-width: 768px) {
    /* line 1, ../scss/layout/header/header.scss */
    .header {
      padding-left: 23px;
      padding-right: 23px; } }
  /* line 21, ../scss/layout/header/header.scss */
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 48px;
    position: relative;
    z-index: 11; }
    /* line 29, ../scss/layout/header/header.scss */
    .header__inner .header__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 32, ../scss/layout/header/header.scss */
      .header__inner .header__info a, .header__inner .header__info p {
        max-width: 130px;
        font-family: 'Lusitana', serif;
        font-size: 18px;
        line-height: 24px;
        color: #393939; }
      @media (max-width: 768px) {
        /* line 40, ../scss/layout/header/header.scss */
        .header__inner .header__info p {
          display: none; } }
      /* line 46, ../scss/layout/header/header.scss */
      .header__inner .header__info a {
        margin-right: 45px; }
    /* line 51, ../scss/layout/header/header.scss */
    .header__inner .menu-btn {
      font-family: 'Prompt', sans-serif;
      font-size: 30px;
      line-height: 42px;
      border: none;
      background: none;
      font-weight: 300;
      overflow-x: hidden;
      color: #191919; }
      /* line 61, ../scss/layout/header/header.scss */
      .header__inner .menu-btn:hover {
        color: #FF0000; }
        @media (max-width: 1024px) {
          /* line 61, ../scss/layout/header/header.scss */
          .header__inner .menu-btn:hover {
            color: #191919; } }
    /* line 70, ../scss/layout/header/header.scss */
    .header__inner .menu-btn.is-active, .header__inner .header__info.is-active a, .header__inner .menu-btn.is-active, .header__inner .header__info.is-active p {
      color: whitesmoke; }
    /* line 74, ../scss/layout/header/header.scss */
    .header__inner .menu-btn.is-active:hover {
      color: #FF0000; }
      @media (max-width: 1024px) {
        /* line 74, ../scss/layout/header/header.scss */
        .header__inner .menu-btn.is-active:hover {
          color: #fff; } }
  /* line 83, ../scss/layout/header/header.scss */
  .header__inner.scrolled {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

/* line 88, ../scss/layout/header/header.scss */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background-color: #191919;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all .375s;
  transition: all .375s;
  width: 100vw; }
  /* line 102, ../scss/layout/header/header.scss */
  .nav__list {
    margin-top: auto; }
    /* line 105, ../scss/layout/header/header.scss */
    .nav__list .nav__item {
      font-size: 175px;
      line-height: 180px;
      font-weight: 300; }
      @media (max-width: 1024px) {
        /* line 105, ../scss/layout/header/header.scss */
        .nav__list .nav__item {
          font-size: 130px;
          line-height: 155px; } }
      @media (max-width: 768px) {
        /* line 105, ../scss/layout/header/header.scss */
        .nav__list .nav__item {
          font-size: 82px;
          line-height: 90px; } }
      @media (max-width: 390px) {
        /* line 105, ../scss/layout/header/header.scss */
        .nav__list .nav__item {
          font-size: 71px;
          line-height: 80px; } }
      /* line 125, ../scss/layout/header/header.scss */
      .nav__list .nav__item:first-child {
        margin-bottom: 10px; }
  /* line 131, ../scss/layout/header/header.scss */
  .nav__link {
    color: whitesmoke; }
    /* line 134, ../scss/layout/header/header.scss */
    .nav__link:hover {
      color: #FF0000; }

/* line 140, ../scss/layout/header/header.scss */
.nav.is-active--nav {
  visibility: visible;
  opacity: 1; }

/* line 145, ../scss/layout/header/header.scss */
.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%; }

/* line 152, ../scss/layout/header/header.scss */
.socials-nav {
  margin-top: auto;
  margin-left: auto;
  padding-bottom: 48px; }
  @media (max-width: 768px) {
    /* line 152, ../scss/layout/header/header.scss */
    .socials-nav {
      padding-bottom: 23px;
      margin-left: unset; } }

/* line 3, ../scss/general/general.scss */
.section--general .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 100vh;
  padding-bottom: 70px; }
  @media (max-width: 1024px) {
    /* line 3, ../scss/general/general.scss */
    .section--general .general {
      min-height: auto;
      padding-top: 250px; } }
  @media (max-width: 768px) {
    /* line 3, ../scss/general/general.scss */
    .section--general .general {
      padding-top: 170px; } }
  /* line 17, ../scss/general/general.scss */
  .section--general .general .general__subtitle {
    font-size: 50px;
    font-weight: 300; }
    @media (max-width: 1024px) {
      /* line 17, ../scss/general/general.scss */
      .section--general .general .general__subtitle {
        font-size: 28px;
        margin-top: 15px; } }
    @media (max-width: 768px) {
      /* line 17, ../scss/general/general.scss */
      .section--general .general .general__subtitle {
        font-size: 26px;
        margin-top: 10px; } }
    @media (max-width: 390px) {
      /* line 17, ../scss/general/general.scss */
      .section--general .general .general__subtitle {
        font-size: 23px; } }

/* line 40, ../scss/general/general.scss */
.section--projects .projects {
  padding-top: 50px; }
  /* line 43, ../scss/general/general.scss */
  .section--projects .projects__item {
    margin-bottom: 100px;
    padding-left: 35px;
    position: relative;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    /* line 49, ../scss/general/general.scss */
    .section--projects .projects__item:after {
      content: '01.';
      position: absolute;
      left: 0;
      top: 25px;
      font-size: 15px;
      opacity: 0.5; }
    /* line 60, ../scss/general/general.scss */
    .section--projects .projects__item:nth-child(2):after {
      content: '02.'; }
    /* line 67, ../scss/general/general.scss */
    .section--projects .projects__item:nth-child(3):after {
      content: '03.'; }
    /* line 74, ../scss/general/general.scss */
    .section--projects .projects__item:nth-child(4):after {
      content: '04.'; }
    /* line 81, ../scss/general/general.scss */
    .section--projects .projects__item:nth-child(5):after {
      content: '05.'; }
    /* line 86, ../scss/general/general.scss */
    .section--projects .projects__item .projects__link:hover {
      color: #191919; }
  /* line 91, ../scss/general/general.scss */
  .section--projects .projects__title {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px; }
  /* line 97, ../scss/general/general.scss */
  .section--projects .projects__subtitle {
    margin-top: 5px;
    color: #393939;
    opacity: 0.5;
    font-size: 17px;
    font-weight: 300; }
  /* line 105, ../scss/general/general.scss */
  .section--projects .projects .projects__preview {
    position: fixed;
    z-index: -1;
    width: 375px;
    height: 250px;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    /* line 115, ../scss/general/general.scss */
    .section--projects .projects .projects__preview img {
      width: 100%;
      height: 100%; }

/* line 123, ../scss/general/general.scss */
.section--about {
  padding-top: 108px;
  position: relative;
  z-index: 1; }
  /* line 128, ../scss/general/general.scss */
  .section--about .about {
    position: relative; }
    /* line 131, ../scss/general/general.scss */
    .section--about .about__info {
      margin: 0 auto;
      padding-top: 75px;
      max-width: 700px;
      width: 100%; }
      @media (max-width: 1024px) {
        /* line 131, ../scss/general/general.scss */
        .section--about .about__info {
          max-width: 525px; } }
      @media (max-width: 768px) {
        /* line 131, ../scss/general/general.scss */
        .section--about .about__info {
          max-width: 285px; } }
      /* line 145, ../scss/general/general.scss */
      .section--about .about__info-text {
        font-size: 30px;
        line-height: 48px;
        font-weight: 300;
        margin-bottom: 15px; }
        @media (max-width: 1024px) {
          /* line 145, ../scss/general/general.scss */
          .section--about .about__info-text {
            font-size: 24px;
            line-height: 34px; } }
        @media (max-width: 768px) {
          /* line 145, ../scss/general/general.scss */
          .section--about .about__info-text {
            font-size: 19px;
            line-height: 29px; } }
        @media (max-width: 390px) {
          /* line 145, ../scss/general/general.scss */
          .section--about .about__info-text {
            font-size: 17px;
            line-height: 25px; } }
      /* line 167, ../scss/general/general.scss */
      .section--about .about__info-author {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 300; }
        @media (max-width: 1024px) {
          /* line 167, ../scss/general/general.scss */
          .section--about .about__info-author {
            font-size: 24px; } }
        @media (max-width: 768px) {
          /* line 167, ../scss/general/general.scss */
          .section--about .about__info-author {
            font-size: 20px; } }
        @media (max-width: 390px) {
          /* line 167, ../scss/general/general.scss */
          .section--about .about__info-author {
            font-size: 17px; } }
        /* line 184, ../scss/general/general.scss */
        .section--about .about__info-author a {
          text-decoration: underline; }
    /* line 190, ../scss/general/general.scss */
    .section--about .about__contact {
      padding-top: 900px;
      max-width: 815px;
      width: 100%;
      margin-left: auto; }
      @media (max-width: 1024px) {
        /* line 190, ../scss/general/general.scss */
        .section--about .about__contact {
          padding-top: 350px;
          max-width: 475px; } }
      @media (max-width: 768px) {
        /* line 190, ../scss/general/general.scss */
        .section--about .about__contact {
          margin-left: unset;
          margin-bottom: 30px; } }
      @media (max-width: 390px) {
        /* line 190, ../scss/general/general.scss */
        .section--about .about__contact {
          padding-top: 300px; } }
      /* line 210, ../scss/general/general.scss */
      .section--about .about__contact p {
        font-size: 45px;
        line-height: 60px;
        font-weight: 300; }
        @media (max-width: 1024px) {
          /* line 210, ../scss/general/general.scss */
          .section--about .about__contact p {
            font-size: 27px;
            line-height: 34px;
            font-weight: 400; } }
        @media (max-width: 768px) {
          /* line 210, ../scss/general/general.scss */
          .section--about .about__contact p {
            font-size: 20px;
            line-height: 22px;
            font-weight: 300; } }
        @media (max-width: 390px) {
          /* line 210, ../scss/general/general.scss */
          .section--about .about__contact p {
            font-size: 17px;
            line-height: 19px; } }
      /* line 233, ../scss/general/general.scss */
      .section--about .about__contact a {
        -webkit-animation: blink 3s linear infinite;
        animation: blink 3s linear infinite; }
@-webkit-keyframes blink {
  0% {
    color: #191919; }
  25% {
    color: #949494; }
  50% {
    color: #fff; }
  75% {
    color: #949494; }
  100% {
    color: #191919; } }
@keyframes blink {
  0% {
    color: #191919; }
  25% {
    color: #949494; }
  50% {
    color: #fff; }
  75% {
    color: #949494; }
  100% {
    color: #191919; } }
  /* line 256, ../scss/general/general.scss */
  .section--about .socials-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px; }
    /* line 260, ../scss/general/general.scss */
    .section--about .socials-about .socials__link {
      color: #191919;
      font-size: 25px; }
      @media (max-width: 1024px) {
        /* line 260, ../scss/general/general.scss */
        .section--about .socials-about .socials__link {
          font-size: 23px; } }
      @media (max-width: 768px) {
        /* line 260, ../scss/general/general.scss */
        .section--about .socials-about .socials__link {
          font-size: 20px; } }
      @media (max-width: 390px) {
        /* line 260, ../scss/general/general.scss */
        .section--about .socials-about .socials__link {
          font-size: 17px; } }
      /* line 276, ../scss/general/general.scss */
      .section--about .socials-about .socials__link:after {
        background-color: #191919; }

/* line 283, ../scss/general/general.scss */
.about__background-img {
  max-width: 383px;
  width: 100%;
  height: 383px;
  position: fixed;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }
  @media (max-width: 1024px) {
    /* line 283, ../scss/general/general.scss */
    .about__background-img {
      visibility: hidden; } }
  /* line 297, ../scss/general/general.scss */
  .about__background-img img {
    position: relative;
    overflow: hidden;
    -webkit-transform: scale(1.01);
            transform: scale(1.01); }

/* line 305, ../scss/general/general.scss */
.section--jungles {
  background-color: #393939;
  color: #fff; }
  /* line 309, ../scss/general/general.scss */
  .section--jungles .noise {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0; }
    /* line 319, ../scss/general/general.scss */
    .section--jungles .noise div {
      position: absolute;
      inset: -500px;
      background: url("../../images/common/noise.png") 0px 0px/320px 320px transparent;
      opacity: 0.2;
      -webkit-animation: noise 1s steps(8, end) infinite both;
              animation: noise 1s steps(8, end) infinite both; }
@-webkit-keyframes noise {
  0% {
    -webkit-transform: translateX(0px, 0px);
    transform: translateX(0px, 0px); }
  10% {
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  20% {
    -webkit-transform: translate(150px, -100px);
    transform: translate(150px, -100px); }
  30% {
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  40% {
    -webkit-transform: translate(100px, -150px);
    transform: translate(100px, -150px); }
  50% {
    -webkit-transform: translate(-100px, 200px);
    transform: translate(-100px, 200px); }
  60% {
    -webkit-transform: translate(-200px, -100px);
    transform: translate(-200px, -100px); }
  70% {
    -webkit-transform: translateY(50px, 100px);
    transform: translateY(50px, 100px); }
  80% {
    -webkit-transform: translate(100px, -150px);
    transform: translate(100px, -150px); }
  90% {
    -webkit-transform: translate(0px, 200px);
    transform: translate(0px, 200px); }
  100% {
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); } }
@keyframes noise {
  0% {
    -webkit-transform: translateX(0px, 0px);
    transform: translateX(0px, 0px); }
  10% {
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  20% {
    -webkit-transform: translate(150px, -100px);
    transform: translate(150px, -100px); }
  30% {
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  40% {
    -webkit-transform: translate(100px, -150px);
    transform: translate(100px, -150px); }
  50% {
    -webkit-transform: translate(-100px, 200px);
    transform: translate(-100px, 200px); }
  60% {
    -webkit-transform: translate(-200px, -100px);
    transform: translate(-200px, -100px); }
  70% {
    -webkit-transform: translateY(50px, 100px);
    transform: translateY(50px, 100px); }
  80% {
    -webkit-transform: translate(100px, -150px);
    transform: translate(100px, -150px); }
  90% {
    -webkit-transform: translate(0px, 200px);
    transform: translate(0px, 200px); }
  100% {
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); } }
  /* line 385, ../scss/general/general.scss */
  .section--jungles .jungles__title-wrap {
    position: fixed;
    z-index: 14;
    width: 100%; }
    /* line 390, ../scss/general/general.scss */
    .section--jungles .jungles__title-wrap div {
      display: block;
      width: 200%;
      height: 250px;
      position: absolute;
      overflow: hidden;
      -webkit-animation: moving 30s linear infinite;
      animation: moving 30s linear infinite; }
      @media (max-width: 768px) {
        /* line 390, ../scss/general/general.scss */
        .section--jungles .jungles__title-wrap div {
          height: 118px; } }
      /* line 403, ../scss/general/general.scss */
      .section--jungles .jungles__title-wrap div span {
        padding: 0 45px;
        width: 50%;
        font-size: 200px;
        font-weight: 700;
        line-height: 225px;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); }
        @media (max-width: 768px) {
          /* line 403, ../scss/general/general.scss */
          .section--jungles .jungles__title-wrap div span {
            font-size: 110px;
            line-height: 110px;
            padding: 0 5px; } }
@-webkit-keyframes moving {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
@keyframes moving {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
  /* line 432, ../scss/general/general.scss */
  .section--jungles .jungles {
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 300px;
    position: relative;
    z-index: 15; }
    @media (max-width: 768px) {
      /* line 432, ../scss/general/general.scss */
      .section--jungles .jungles {
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 165px; } }
    /* line 445, ../scss/general/general.scss */
    .section--jungles .jungles__desc {
      max-width: 450px; }
      @media (max-width: 768px) {
        /* line 445, ../scss/general/general.scss */
        .section--jungles .jungles__desc {
          margin: 0 auto;
          text-align: center; } }
      /* line 453, ../scss/general/general.scss */
      .section--jungles .jungles__desc p {
        margin-bottom: 10px; }
      /* line 457, ../scss/general/general.scss */
      .section--jungles .jungles__desc a {
        color: #FF0000;
        text-decoration: underline;
        display: block;
        margin-top: 30px; }
        /* line 463, ../scss/general/general.scss */
        .section--jungles .jungles__desc a:hover {
          text-decoration: none; }
    /* line 469, ../scss/general/general.scss */
    .section--jungles .jungles__list {
      margin-top: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      @media (max-width: 768px) {
        /* line 469, ../scss/general/general.scss */
        .section--jungles .jungles__list {
          margin-top: 60px; } }
      /* line 479, ../scss/general/general.scss */
      .section--jungles .jungles__list .jungles__item {
        width: 23%;
        margin-bottom: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        @media (max-width: 1024px) {
          /* line 479, ../scss/general/general.scss */
          .section--jungles .jungles__list .jungles__item {
            width: 43%; } }
        @media (max-width: 768px) {
          /* line 479, ../scss/general/general.scss */
          .section--jungles .jungles__list .jungles__item {
            width: 100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 50px; } }
        /* line 495, ../scss/general/general.scss */
        .section--jungles .jungles__list .jungles__item:nth-child(4n-2) {
          margin-top: 50px; }
          @media (max-width: 768px) {
            /* line 495, ../scss/general/general.scss */
            .section--jungles .jungles__list .jungles__item:nth-child(4n-2) {
              margin-top: 50px; } }
        /* line 503, ../scss/general/general.scss */
        .section--jungles .jungles__list .jungles__item:nth-child(4n-1) {
          margin-top: 100px; }
          @media (max-width: 768px) {
            /* line 503, ../scss/general/general.scss */
            .section--jungles .jungles__list .jungles__item:nth-child(4n-1) {
              margin-top: 50px; } }
        /* line 511, ../scss/general/general.scss */
        .section--jungles .jungles__list .jungles__item:nth-child(4n) {
          margin-top: 150px; }
          @media (max-width: 768px) {
            /* line 511, ../scss/general/general.scss */
            .section--jungles .jungles__list .jungles__item:nth-child(4n) {
              margin-top: 50px; } }
        /* line 519, ../scss/general/general.scss */
        .section--jungles .jungles__list .jungles__item img {
          max-width: 400px;
          width: 100%;
          -webkit-transition: -webkit-transform 2.5s ease-out 0s;
          transition: -webkit-transform 2.5s ease-out 0s;
          transition: transform 2.5s ease-out 0s;
          transition: transform 2.5s ease-out 0s, -webkit-transform 2.5s ease-out 0s; }
        /* line 525, ../scss/general/general.scss */
        .section--jungles .jungles__list .jungles__item-info {
          max-width: 400px;
          width: 100%; }
          /* line 529, ../scss/general/general.scss */
          .section--jungles .jungles__list .jungles__item-info .jungles__item-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-top: 10px; }
          /* line 536, ../scss/general/general.scss */
          .section--jungles .jungles__list .jungles__item-info .jungles__item-date {
            font-size: 14px;
            color: #d1d1d1; }
          /* line 541, ../scss/general/general.scss */
          .section--jungles .jungles__list .jungles__item-info .jungles__item-desc {
            max-width: 400px; }
          /* line 545, ../scss/general/general.scss */
          .section--jungles .jungles__list .jungles__item-info .jungles__item-link {
            max-width: -webkit-fit-content;
            max-width: -moz-fit-content;
            max-width: fit-content;
            display: block;
            margin-top: 25px;
            color: #FF0000;
            text-decoration: underline; }
            @media (max-width: 768px) {
              /* line 545, ../scss/general/general.scss */
              .section--jungles .jungles__list .jungles__item-info .jungles__item-link {
                margin-top: 15px; } }
            /* line 556, ../scss/general/general.scss */
            .section--jungles .jungles__list .jungles__item-info .jungles__item-link:hover {
              text-decoration: none; }

/*# sourceMappingURL=main.css.map */