.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: fixed;
  z-index: 11;

  @include media-tablet {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include media-mobile {
    padding-left: 23px;
    padding-right: 23px;
  }

  &__inner {
    @include flex-justify-align(space-between, center);
    margin-top: 30px;
    margin-bottom: 30px;
    height: 48px;
    position: relative;
    z-index: 11;

    .header__info {
      display: flex;

      p {
        max-width: 130px;
        font-family: 'Lusitana', serif;
        font-size: 18px;
        line-height: 24px;
        color: $secondary;

        &:first-child {
          margin-right: 45px;
        }

        &:nth-child(2) {
          @include media-mobile {
            display: none;
          }
        }
      }
    }

    .menu-btn {
      font-family: 'Prompt', sans-serif;
      font-size: 30px;
      line-height: 42px;
      border: none;
      background: none;
      font-weight: 300;
      overflow-x: hidden;
      color: $grey;

      &:hover {
        color: $red;

        @include media-tablet {
          color: $grey;
        }
      }
    }

    .menu-btn.is-active, .header__info.is-active p {
      color: $background-color;
    }

    .menu-btn.is-active:hover {
      color: $red;

      @include media-tablet {
        color: $white;
      }
    }
  }

  &__inner.scrolled {
    justify-content: flex-end;
  }
}

.nav {
  @include flex-align(center);

  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background-color: $grey;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all .375s;
  width: 100vw;

  &__list {
    margin-top: auto;

    .nav__item {
      font-size: 175px;
      line-height: 180px;
      font-weight: 300;

      @include media-tablet {
        font-size: 130px;
        line-height: 155px;
      }

      @include media-mobile {
        font-size: 82px;
        line-height: 90px;
      }

      @include media-mobile-low {
        font-size: 71px;
        line-height: 80px;
      }

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    color: $background-color;

    &:hover {
      color: $red;
    }
  }
}

.nav.is-active--nav {
  visibility: visible;
  opacity: 1;
}

.nav-wrapper {
  @include flex-justify(center);
  flex-direction: column;
  height: calc(100vh - 48px);
  width: 100%;
}

.socials-nav {
  margin-top: auto;
  margin-left: auto;
  padding-bottom: 48px;

  @include media-mobile {
    padding-bottom: 23px;
    margin-left: unset;
  }
}