*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #191919;
  background-color: $background-color;
  min-height: 100vh;
  cursor: none;
  isolation: isolate;
}

a, button, input, select {
  outline: none;
  border: none;
  cursor: none;
}

a {
  text-decoration: none;
  color: $grey;

  &:hover {
    color: $red;
  }
}

ul, li {
  list-style-type: none;
}

details, summary {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-moz-selection {
  background-color: $red;
  color: $white;
}

::selection {
  background-color: $red;
  color: $white;
}

/*========================
        Common Styles
==========================*/

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;

  @include media-mobile {
    padding-left: 23px;
    padding-right: 23px;
  }
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

.cursor, .aura {
  position: fixed;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 99;

  @include media-tablet {
    opacity: 1;
    visibility: hidden;
  }
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #222222;
  -webkit-transition: .2s linear background-color;
  transition: .2s linear background-color;
}

.cursor.is-active {
  background-color: $red;
}

.cursor.cursor-red {
  background-color: $red;
}

.aura {
  width: 32px;
  height: 32px;
  background-color: #222222;
  opacity: 0.5;
  transform: translate(-12px, -12px);
  mix-blend-mode: difference;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.title {
  font-size: 175px;
  line-height: 175px;
  font-weight: 300;

  @include media-tablet {
    font-size: 97px;
    line-height: 97px;
  }

  @include media-mobile {
    font-size: 71px;
    line-height: 78px;
  }

  @include media-mobile-low {
    font-size: 62px;
    line-height: 74px;
  }
}

.socials {
  display: flex;
  gap: 25px;

  &__link {
    color: $background-color;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    max-width: fit-content;

    @include media-mobile {
      font-size: 11px;
    }

    @include media-mobile-low {
      font-size: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $background-color;
      width: 100%;

      @include media-mobile {
        height: 1px;
      }
    }
  }

  .socials__item:hover .socials__link:after {
    opacity: 0;
  }
}