*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  scroll-behavior: auto;
}

body {
  position: relative;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #191919;
  background-color: $background-color;
  min-height: 100vh;
  cursor: none;
  isolation: isolate;
}

a, button, input, select {
  outline: none;
  border: none;
  cursor: none;
}

a {
  text-decoration: none;
  color: $grey;

  &:hover {
    color: $red;
  }
}

ul, li {
  list-style-type: none;
}

details, summary {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-moz-selection {
  background-color: $red;
  color: $white;
}

::selection {
  background-color: $red;
  color: $white;
}

/*========================
        Common Styles
==========================*/

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;

  @include media-mobile {
    padding-left: 23px;
    padding-right: 23px;
  }
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

.cursor, .aura {
  position: fixed;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 99;

  @include media-tablet {
    opacity: 1;
    visibility: hidden;
  }
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #222222;
  -webkit-transition: .2s linear background-color;
  transition: .2s linear background-color;
}

.cursor.is-active {
  background-color: $red;
}

.cursor.cursor-red {
  background-color: $red;
}

.aura {
  width: 32px;
  height: 32px;
  background-color: #222222;
  opacity: 0.5;
  transform: translate(-12px, -12px);
  mix-blend-mode: difference;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.title {
  font-size: 175px;
  line-height: 175px;
  font-weight: 300;

  @include media-tablet {
    font-size: 97px;
    line-height: 97px;
  }

  @include media-mobile {
    font-size: 71px;
    line-height: 78px;
  }

  @include media-mobile-low {
    font-size: 62px;
    line-height: 74px;
  }
}

.socials {
  display: flex;
  gap: 25px;

  &__link {
    color: $background-color;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    max-width: fit-content;

    @include media-mobile {
      font-size: 11px;
    }

    @include media-mobile-low {
      font-size: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $background-color;
      width: 100%;

      @include media-mobile {
        height: 1px;
      }
    }
  }

  .socials__item:hover .socials__link:after {
    opacity: 0;
  }
}

.noise {
  @include flex-justify-align(center, center);
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  div {
    position: absolute;
    inset: -500px;
    background: url("../../images/common/noise.png") 0px 0px / 320px 320px transparent;
    opacity: 0.2;
    animation: noise 1s steps(8, end) infinite both;

    @keyframes noise {
      0% {
        -webkit-transform: translateX(0px, 0px);
        transform: translateX(0px, 0px);
      }

      10% {
        -webkit-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px);
      }

      20% {
        -webkit-transform: translate(150px, -100px);
        transform: translate(150px, -100px);
      }

      30% {
        -webkit-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px);
      }

      40% {
        -webkit-transform: translate(100px, -150px);
        transform: translate(100px, -150px);
      }

      50% {
        -webkit-transform: translate(-100px, 200px);
        transform: translate(-100px, 200px);
      }

      60% {
        -webkit-transform: translate(-200px, -100px);
        transform: translate(-200px, -100px);
      }

      70% {
        -webkit-transform: translateY(50px, 100px);
        transform: translateY(50px, 100px);
      }

      80% {
        -webkit-transform: translate(100px, -150px);
        transform: translate(100px, -150px);
      }

      90% {
        -webkit-transform: translate(0px, 200px);
        transform: translate(0px, 200px);
      }

      100% {
        -webkit-transform: translate(-100px, 100px);
        transform: translate(-100px, 100px);
      }
    }
  }

  .title {
    color: $white;
    font-size: 120px;
    line-height: 120px;

    @include media-tablet {
      font-size: 80px;
      line-height: 80px;
    }

    @include media-mobile {
      font-size: 51px;
      line-height: 51px;
    }
  }

  &.preloader {
    background-color: #000;
  }
}

.loaded-active .preloader {
  -webkit-transition: opacity 1s linear 0s;
  transition: opacity 1s linear 0s;
  transition-delay: 10s;
  opacity: 0;
}

.loaded .preloader {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;

  @keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}