.section--general {

  .general {
    @include flex-align(flex-end);
    min-height: 100vh;
    padding-bottom: 70px;

    @include media-tablet {
      min-height: auto;
      padding-top: 250px;
    }

    @include media-mobile {
      padding-top: 170px;
    }

    .general__title {
      font-size: 175px;
      line-height: 175px;
      font-weight: 300;

      @include media-tablet {
        font-size: 97px;
        line-height: 97px;
      }

      @include media-mobile {
        font-size: 71px;
        line-height: 78px;
      }

      @include media-mobile-low {
        font-size: 62px;
        line-height: 74px;
      }
    }

    .general__subtitle {
      font-size: 50px;
      font-weight: 300;

      @include media-tablet {
        font-size: 28px;
        margin-top: 15px;
      }

      @include media-mobile {
        font-size: 26px;
        margin-top: 10px;
      }

      @include media-mobile-low {
        font-size: 23px;
      }
    }
  }
}