.section--general {

  .general {
    @include flex-align(flex-end);
    min-height: 100vh;
    padding-bottom: 70px;

    @include media-tablet {
      min-height: auto;
      padding-top: 250px;
    }

    @include media-mobile {
      padding-top: 170px;
    }

    .general__subtitle {
      font-size: 50px;
      font-weight: 300;

      @include media-tablet {
        font-size: 28px;
        margin-top: 15px;
      }

      @include media-mobile {
        font-size: 26px;
        margin-top: 10px;
      }

      @include media-mobile-low {
        font-size: 23px;
      }
    }
  }
}

.section--projects {

  .projects {
    padding-top: 50px;

    &__item {
      margin-bottom: 100px;
      padding-left: 35px;
      position: relative;
      transition: opacity 0.2s;

      &:after {
        content: '01.';
        position: absolute;
        left: 0;
        top: 25px;
        font-size: 15px;
        opacity: 0.5;
      }

      &:nth-child(2) {

        &:after {
          content: '02.';
        }
      }

      &:nth-child(3) {

        &:after {
          content: '03.';
        }
      }

      &:nth-child(4) {

        &:after {
          content: '04.';
        }
      }

      &:nth-child(5) {

        &:after {
          content: '05.';
        }
      }

      .projects__link:hover {
        color: $grey;
      }
    }

    &__title {
      font-size: 50px;
      font-weight: 300;
      line-height: 50px;
    }

    &__subtitle {
      margin-top: 5px;
      color: $secondary;
      opacity: 0.5;
      font-size: 17px;
      font-weight: 300;
    }

    .projects__preview {
      position: fixed;
      z-index: -1;
      width: 375px;
      height: 250px;
      opacity: 1;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: opacity 0.2s;

        img {
          width: 100%;
          height: 100%;
        }
    }
  }
}

.section--about {
  padding-top: 108px;
  position: relative;
  z-index: 1;

  .about {
    position: relative;

    &__info {
      margin: 0 auto;
      padding-top: 75px;
      max-width: 700px;
      width: 100%;

      @include media-tablet {
        max-width: 525px;
      }

      @include media-mobile {
        max-width: 285px;
      }

      &-text {
        font-size: 30px;
        line-height: 48px;
        font-weight: 300;
        margin-bottom: 15px;

        @include media-tablet {
          font-size: 24px;
          line-height: 34px;
        }

        @include media-mobile {
          font-size: 19px;
          line-height: 29px;
        }

        @include media-mobile-low {
          font-size: 17px;
          line-height: 25px;
        }
      }

      &-author {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 300;

        @include media-tablet {
          font-size: 24px;
        }

        @include media-mobile {
          font-size: 20px;
        }

        @include media-mobile-low {
          font-size: 17px;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    &__contact {
      padding-top: 900px;
      max-width: 815px;
      width: 100%;
      margin-left: auto;

      @include media-tablet {
        padding-top: 350px;
        max-width: 475px;
      }

      @include media-mobile {
        margin-left: unset;
        margin-bottom: 30px;
      }

      @include media-mobile-low {
        padding-top: 300px;
      }

      p {
        font-size: 45px;
        line-height: 60px;
        font-weight: 300;

        @include media-tablet {
          font-size: 27px;
          line-height: 34px;
          font-weight: 400;
        }

        @include media-mobile {
          font-size: 20px;
          line-height: 22px;
          font-weight: 300;
        }

        @include media-mobile-low {
          font-size: 17px;
          line-height: 19px;
        }
      }

      a {
        -webkit-animation: blink 3s linear infinite;
        animation: blink 3s linear infinite;
      }

      @-webkit-keyframes blink {
        0% { color: #191919; }
        25% { color: #949494; }
        50% { color: #fff; }
        75% { color: #949494; }
        100% { color: #191919; }
      }

      @keyframes blink {
        0% { color: #191919; }
        25% { color: #949494; }
        50% { color: #fff; }
        75% { color: #949494; }
        100% { color: #191919; }
      }
    }
  }

  .socials-about {
    flex-direction: column;
    margin-top: 50px;

    .socials__link {
      color: $grey;
      font-size: 25px;

      @include media-tablet {
        font-size: 23px;
      }

      @include media-mobile {
        font-size: 20px;
      }

      @include media-mobile-low {
        font-size: 17px;
      }

      &:after {
        background-color: $grey;
      }
    }
  }
}

.about__background-img {
  max-width: 383px;
  width: 100%;
  height: 383px;
  position: fixed;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .2s linear;

  @include media-tablet {
    visibility: hidden;
  }

  img {
    position: relative;
    overflow: hidden;
    transform: scale(1.01);
  }
}


.section--jungles {
  background-color: $secondary;
  color: $white;

  .noise {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;

    div {
      position: absolute;
      inset: -500px;
      background: url("../../images/common/noise.png") 0px 0px / 320px 320px transparent;
      opacity: 0.2;
      animation: noise 1s steps(8, end) infinite both;
      
      @keyframes noise {
        0% {
          -webkit-transform: translateX(0px, 0px);
          transform: translateX(0px, 0px);
        }

        10% {
          -webkit-transform: translate(-100px, 100px);
          transform: translate(-100px, 100px);
        }

        20% {
          -webkit-transform: translate(150px, -100px);
          transform: translate(150px, -100px);
        }

        30% {
          -webkit-transform: translate(-100px, 100px);
          transform: translate(-100px, 100px);
        }

        40% {
          -webkit-transform: translate(100px, -150px);
          transform: translate(100px, -150px);
        }

        50% {
          -webkit-transform: translate(-100px, 200px);
          transform: translate(-100px, 200px);
        }

        60% {
          -webkit-transform: translate(-200px, -100px);
          transform: translate(-200px, -100px);
        }

        70% {
          -webkit-transform: translateY(50px, 100px);
          transform: translateY(50px, 100px);
        }

        80% {
          -webkit-transform: translate(100px, -150px);
          transform: translate(100px, -150px);
        }

        90% {
          -webkit-transform: translate(0px, 200px);
          transform: translate(0px, 200px);
        }

        100% {
          -webkit-transform: translate(-100px, 100px);
          transform: translate(-100px, 100px);
        }
      }
    }
  }

  .jungles__title-wrap {
    position: fixed;
    z-index: 14;
    width: 100%;

    div {
      display: block;
      width: 200%;
      height: 250px;
      position: absolute;
      overflow: hidden;
      -webkit-animation: moving 30s linear infinite;
      animation: moving 30s linear infinite;

      @include media-mobile {
        height: 118px;
      }

      span {
        padding: 0 45px;
        width: 50%;
        font-size: 200px;
        font-weight: 700;
        line-height: 225px;
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);

        @include media-mobile {
          font-size: 110px;
          line-height: 110px;
          padding: 0 5px;
        }
      }
    }

    @-webkit-keyframes moving {
      0% { left: 0; }
      100% { left: -100%; }
    }

    @keyframes moving {
      0% { left: 0; }
      100% { left: -100%; }
    }
  }

  .jungles {
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 300px;
    position: relative;
    z-index: 15;

    @include media-mobile {
      padding-left: 23px;
      padding-right: 23px;
      padding-top: 165px;
    }

    &__desc {
      max-width: 450px;

      @include media-mobile {
        margin: 0 auto;
        text-align: center;
      }

      p {
        margin-bottom: 10px;
      }

      a {
        color: $red;
        text-decoration: underline;
        display: block;
        margin-top: 30px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__list {
      margin-top: 100px;
      @include flex-justify(space-between);
      flex-wrap: wrap;
      width: 100%;

      @include media-mobile {
        margin-top: 60px;
      }

      .jungles__item {
        width: 23%;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;

        @include media-tablet {
          width: 43%;
        }

        @include media-mobile {
          width: 100%;
          align-items: center;
          margin-bottom: 50px;
        }

        &:nth-child(4n-2) {
          margin-top: 50px;

          @include media-mobile {
            margin-top: 50px;
          }
        }

        &:nth-child(4n-1) {
          margin-top: 100px;

          @include media-mobile {
            margin-top: 50px;
          }
        }

        &:nth-child(4n) {
          margin-top: 150px;

          @include media-mobile {
            margin-top: 50px;
          }
        }

        img {
          max-width: 400px;
          width: 100%;
          transition: transform 2.5s ease-out 0s;
        }

        &-info {
          max-width: 400px;
          width: 100%;

          .jungles__item-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-top: 10px;
          }

          .jungles__item-date {
            font-size: 14px;
            color: #d1d1d1;
          }

          .jungles__item-desc {
            max-width: 400px;
          }

          .jungles__item-link {
            max-width: fit-content;
            display: block;
            margin-top: 25px;
            color: $red;
            text-decoration: underline;

            @include media-mobile {
              margin-top: 15px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}