.section--general {

  .general {
    @include flex-align(flex-end);
    min-height: 100vh;
    padding-bottom: 70px;

    @include media-tablet {
      min-height: auto;
      padding-top: 250px;
    }

    @include media-mobile {
      padding-top: 170px;
    }

    .general__subtitle {
      font-size: 50px;
      font-weight: 300;

      @include media-tablet {
        font-size: 28px;
        margin-top: 15px;
      }

      @include media-mobile {
        font-size: 26px;
        margin-top: 10px;
      }

      @include media-mobile-low {
        font-size: 23px;
      }
    }
  }
}

.section--projects {

  .projects {
    padding-top: 50px;

    &__item {
      margin-bottom: 100px;
      padding-left: 35px;
      position: relative;
      transition: opacity 0.2s;

      &:after {
        content: '01.';
        position: absolute;
        left: 0;
        top: 25px;
        font-size: 15px;
        opacity: 0.5;
      }

      &:nth-child(2) {

        &:after {
          content: '02.';
        }
      }

      &:nth-child(3) {

        &:after {
          content: '03.';
        }
      }

      &:nth-child(4) {

        &:after {
          content: '04.';
        }
      }

      &:nth-child(5) {

        &:after {
          content: '05.';
        }
      }

      .projects__link:hover {
        color: $grey;
      }
    }

    &__title {
      font-size: 50px;
      font-weight: 300;
      line-height: 50px;
    }

    &__subtitle {
      margin-top: 5px;
      color: $secondary;
      opacity: 0.5;
      font-size: 17px;
      font-weight: 300;
    }

    .projects__preview {
      position: fixed;
      z-index: -1;
      width: 375px;
      height: 250px;
      opacity: 1;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: opacity 0.2s;

        img {
          width: 100%;
          height: 100%;
        }
    }
  }
}

.section--about {
  padding-top: 108px;
  position: relative;
  z-index: 1;

  .about {
    position: relative;

    &__info {
      margin: 0 auto;
      padding-top: 75px;
      max-width: 700px;
      width: 100%;

      @include media-tablet {
        max-width: 525px;
      }

      @include media-mobile {
        max-width: 285px;
      }

      &-text {
        font-size: 30px;
        line-height: 48px;
        font-weight: 300;
        margin-bottom: 15px;

        @include media-tablet {
          font-size: 24px;
          line-height: 34px;
        }

        @include media-mobile {
          font-size: 19px;
          line-height: 29px;
        }

        @include media-mobile-low {
          font-size: 17px;
          line-height: 25px;
        }
      }

      &-author {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 300;

        @include media-tablet {
          font-size: 24px;
        }

        @include media-mobile {
          font-size: 20px;
        }

        @include media-mobile-low {
          font-size: 17px;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    &__contact {
      padding-top: 900px;
      max-width: 815px;
      width: 100%;
      margin-left: auto;

      @include media-tablet {
        padding-top: 350px;
        max-width: 475px;
      }

      @include media-mobile {
        margin-left: unset;
      }

      @include media-mobile-low {
        padding-top: 300px;
      }

      p {
        font-size: 45px;
        line-height: 60px;
        font-weight: 300;

        @include media-tablet {
          font-size: 27px;
          line-height: 34px;
          font-weight: 400;
        }

        @include media-mobile {
          font-size: 20px;
          line-height: 22px;
          font-weight: 300;
        }

        @include media-mobile-low {
          font-size: 17px;
          line-height: 19px;
        }
      }

      a {
        -webkit-animation: blink 3s linear infinite;
        animation: blink 3s linear infinite;
      }

      @-webkit-keyframes blink {
        0% { color: #191919; }
        25% { color: #949494; }
        50% { color: #fff; }
        75% { color: #949494; }
        100% { color: #191919; }
      }

      @keyframes blink {
        0% { color: #191919; }
        25% { color: #949494; }
        50% { color: #fff; }
        75% { color: #949494; }
        100% { color: #191919; }
      }
    }
  }

  .socials-about {
    flex-direction: column;
    margin-top: 50px;

    .socials__link {
      color: $grey;
      font-size: 25px;

      @include media-tablet {
        font-size: 23px;
      }

      @include media-mobile {
        font-size: 20px;
      }

      @include media-mobile-low {
        font-size: 17px;
      }

      &:after {
        background-color: $grey;
      }
    }
  }
}

.about__background-img {
  max-width: 383px;
  width: 100%;
  height: 383px;
  position: fixed;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .2s linear;

  @include media-tablet {
    visibility: hidden;
  }

  img {
    position: relative;
    overflow: hidden;
    transform: scale(1.01);
  }
}