// Breakpoints Use in mixins
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;
$mobile-low-breakpoint: 390px;

// Colors
$primary: #fff;
$secondary: #393939;
$title-primary: #03AAC0;
$background-color: rgb(245, 245, 245);
$white: #fff;

// Fonts
$title-font: 'Inconsolata', monospace;