// Breakpoints Use in mixins
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-height-breakpoint: 640px;

// Colors
$primary: #fff;
$secondary: #7A7A7A;
$title-primary: #03AAC0;
$white: #fff;

// Fonts
$title-font: 'Inconsolata', monospace;